<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Crud Nodejs</title>
    <link rel="stylesheet" href="/../css/styles.css">
  </head>
  <body>
    {{>_header}}

<div class="container">
 
    {{{body}}}


   

     

    

    </div>

      {{>_footer}}
   

  </body>
</html>